.container{
    background-color: #000000;
    width: 30%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    padding: 2%;
    margin-top: 3rem;

}
h1{
    margin-bottom: 3rem;
}


.gender-container{
    display: flex;
    justify-content: space-between;
}

.gender p{
    margin-bottom: 2px;
}

.male, .female {
    color: #fff;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    font-size: 4rem;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    line-height:  150px;
    background-color: #323334;
    border-radius: 5px;
    border:none
}

.male:hover, .female:hover{
    border : 1px solid #07C56B;
}

.weight p, .height p, .age p{
    margin-bottom: 2px;
}

input{
    text-align: center;
    padding: 8px 0;
    color:#07C56B;
    outline-color: #07C56B;
}

button{
    margin-top: 2rem;
    background-color: #07C56B;
    color:#fff;
    width: 170px;
    border: none;
    border-radius: 3px;
    padding : 8px;
}

.calc-box{
    display: flex;
}

.res-box{
    align-self: center;
    width: 100%;

}

.res-box p {
    text-align: center;
    font-size: 3rem;
    margin-top : 0;
}
h3{
    text-align: center;
    margin-bottom: 0.5rem;
}